<label for="workout_name">Choose a workout:</label>

<select name="workout_name" id="workout_name">
    {{#each workouts as |workout|}}
  <option value="{{workout_name}}">{{workout_name}}</option>
  {{/each}}
</select>