<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Exo+2&display=swap"
        rel="stylesheet">

    <title>leverage.com</title>
</head>

<body>
    <nav class="bg-white opacity-95 h-16">
        <div class="text-6xl text-center pt-1" style="font-family: 'Black Ops One', cursive;">
            l e v e r a g e

            <button class="bg-black text-white text-2xl p-1 m-3 rounded float-right"
                style="font-family: 'Bebas Neue', cursive; transition: 0.5s;" id="logOutBtn"> Log Out</button>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">

    </nav>

    <img id="bg"
        style="width: 100vw; height: 100vh; object-fit: cover; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: -1;"
        src="https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>

    <div>
        {{{body}}}
    </div>
    <footer>
        &copy; The Group 2021 Productions
    </footer>

</body>

</html>
