    <div class="row"></div> 
    {{!-- workout columns --}}
      <div class="?" id="workoutColumn">
        <div>
        <form class="?" id="addWorkout">
          <input type="text" class="?" id="workoutName">
          <button class="saveBtn">ADD WORKOUT</button>
        </form>
        </div>
        <div>
          <table class="style" id="workoutTable">
            <thead class="?" id="savedWorkouts">SAVED WORKOUTS</thead>
            <tbody class="?" id="workoutList"></tbody>
          </table>
        </div>
      </div>

      <!--This is for the container that will hold both the current weather and the five day forecast-->
      <div class="scheduleContainer">

        <div class="scheduleHeader">
            <div class="sevenDaySchedule"></div>
            <div class="?">
                <div class="card-deck">
                {{!-- <${generateCards(data)}> --}}
                <div class="dayCard" id="monday"></div>
                <div class="dayCard" id="tuesday"></div>
                <div class="dayCard" id="wednesday"></div>
                <div class="dayCard" id="thursday"></div>
                <div class="dayCard" id="friday"></div>
                <div class="dayCard" id="saturday"></div>
                <div class="dayCard" id="sunday"></div>
                </div>
            </div>
        </div>
      </div>
    </div>

{{!-- get file path correct here --}}
    <script src="./js/schedule.js"></script>