<div class="workoutsPage"></div>
<h1>{{workoutTitle}}</h1>

{{!-- add exercise button with input field to add a name of the exercise (arm curls, squats, etc--}}
<div> 
    <form class="styleExerciseForm" id="addExercise">
        <input type="text" name="exercise" id="exerciseName">
        <button class="style" name="exerciseNameButton" id="exerciseNameButton">ADD EXERCISE</button>
        {{!-- these inputs appear when exercise name is added --}}
        <input type="text" name="sets" id="addSets">
        <input type="text" name="reps" id="addReps">
        <input type="text" name="weightAmount" id="weightAmount">

        <button class="style" id="saveExercise">ADD TO WORKOUT</button>
    </form>
</div>

{{!-- show details of workout if there are any before the workout title --}}
<div>
    <p>{{workoutDetails}}</p>
</div>
{{!-- button with option to assign the workout to a particular day is underneath workout details--}}
<div>
    <form class="styleForm" id="assignDay">
        <input type="checkbox" id="monday">
        <input type="checkbox" id="tuesday">
        <input type="checkbox" id="wednesday">
        <input type="checkbox" id="thursday">
        <input type="checkbox" id="friday">
        <input type="checkbox" id="saturday">
        <input type="checkbox" id="sunday">
        <button type="submit">ASSIGN DAYS</button>
    </form>
</div>

{{!-- return to workout schedule button --}}
<div>
    <button class="style" id="return">RETURN TO WORKOUT SCHEDULE</button>
</div>

<div>
    <button class="style" id="deleteWorkout">DELETE WORKOUT</button>
</div>


{{!-- make sure file path is correct --}}
<script src="./js/workouts.js"></script>