
        #signUpBtn:active {
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        #signInBtn:active {
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        #signUpBtn:hover {
            background-color: black;
            color: white;
        }

        #signInBtn:hover {
            background-color: black;
            color: white;
        }

        #signInForm {
            text-align: center;
            width: 25rem;
            margin: auto;
            display: none;
            background-color: rgba(245, 244, 244, 0.63);
            padding: 20px;
            border-radius: 10px;
        }

        #submitBtn:hover {
            background-color: black;
            color: white;
        }

        #signUpForm {
            text-align: center;
            width: 40rem;
            margin: auto;
            display: none;
            background-color: rgba(245, 244, 244, 0.63);
            padding: 20px;
            border-radius: 10px;
        }

        #logOutBtn:hover {
            background-color: rgb(192, 184, 184);
            color: black;
        }

        footer {
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }